<a href="https://colab.research.google.com/github/FLC-ML/practicespace/blob/master/CreatingDataFrame_Beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Task 1: Create a DataFrame

Do the following:

  1. Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named `Eleanor`,  `Chidi`, `Tahani`, and `Jason`.  Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.

  2. Output the following:

     * the entire DataFrame
     * the value in the cell of row #1 of the `Eleanor` column

  3. Create a fifth column named `Janet`, which is populated with the row-by-row sums of `Tahani` and `Jason`.

To complete this task, it helps to know the NumPy basics covered in the NumPy UltraQuick Tutorial.

In [ ]:
import numpy as np
import pandas as pd
my_data = np.random.randint(low=0, high=101, size=[3,4])
column_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']
dataframe = pd.DataFrame(data=my_data, columns=column_names)
print(dataframe)
print("Eleanor Row #1 Value:")
print(dataframe['Eleanor'][1])
dataframe['Janet'] = dataframe['Tahani']+dataframe['Jason']
print(dataframe)

   Eleanor  Chidi  Tahani  Jason
0       86     99      96      0
1       96     71      18     29
2       52     18      31      5
Eleanor Row #1 Value:
96
   Eleanor  Chidi  Tahani  Jason  Janet
0       86     99      96      0     96
1       96     71      18     29     47
2       52     18      31      5     36